/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 1.5em;
}

* {
	color: #191308;
}

body {
	background-color: #322A26;
}

#title {
	color: #9CA3DB;
	font-size: 3em;
	padding: 5px;
	padding-left: 30px;
}

#formContainer {
	position: fixed;
	right: 0;
	height: 100%;
	background-color: #9CA3DB;
	padding: 5px;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
	width: 1000px;
}

#bookForm {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

#submitBtn {
	align-self: flex-end;
	margin-right: 15%;
	justify-self: end;
	margin: 0;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #677DB7;
	border: 0;
	border-radius: 5px;
	color: #191308;
}

#submitBtn:hover {
	background-color: #738bce;
}

#inputDiv {
	display: flex;
	flex-direction: row;
}

#textFormDiv {
	display: flex;
	flex-direction: column;
}

#radioFormDiv {
	display: flex;
	flex-direction: column;
}

#newBook {
	position: fixed;
	height: 4em;
	width: 4em;
	right: 5%;
	bottom: 10%;
	border-radius: 50%;
	border: 0;
	background-color: #677DB7;
	color: #9CA3DB;
	font-size: 1em;
}

#newBook:hover {
	background-color:  #738bce;
}

.card {
	background-color: #9CA3DB;
	display: grid;
	grid-template-columns: 50px 850fr 100px;
	grid-template-rows: 1fr 3fr;
	height: 80px;
	margin-bottom: 10px;
	border-radius: 0 5px 5px 0;
}

.delBtn {
	grid-column: 1/1;
	font-size: 1em;
	padding: 5px;
}

.delBtn:hover {
	text-shadow: 1px 1px 10px #ffffff;
}

.info {
	grid-column: 2/2;
	grid-row: 2/2;
}

.toggleBtns {
	grid-column: 3/3;
	grid-row: 1/3;
	width: 70px;
	background-color: #8288b9;
}

.toggleBtns:hover {
	background-color: #8e95ca;
}

.statusColor {
	grid-column: 4/4;
	grid-row: 1/3;
	height: 80px;
	width: 30px;
	border-radius: 0 5px 5px 0;
}

label {
	font-size: 1.2em;
}

input {
	margin: 5px;
	margin-left: 10px;
}

input[type="radio"] {
	padding: 5px;
}

button {
	background-color: transparent;
	border: 0;
}

/* .anim {
	animation: hideForm .3s ease-in-out alternate forwards;
	height: 150px;
}

@keyframes hideForm {
	0% {}
	100% {
		transform: translate(0%, -90%);
	}
} */